<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>CREATE PAGE</h1>
  <!--
    게시글을 생성한다. -> Data를 조작한다. (그냥 읽는게 아니라 뭔가 다른것)
    data가 수정, 삭제가 된다. -> 아무나 해도 되나? 당연히 X
    그럼 생성은? 생성은 아무나 해도 되나> -> 보통 그럴것 같지만, 마찬가지로 안된다.
      공지사항. 아무나 써도 되나? 안된다.
      MM 우리반 채널에 메시지 적기 -> 아무나 해도 되나? -> 당연히 안된다.
    아! 데이터를 생성, 수정, 삭제 하는 일은 중요한 것이다.  보안
    장고에서 데이터 조작 관련 보안이 생각이 안나. form 태그에 뭐 하랬는데

    데이터를 어떡 할건데?
    사용자가 입력한 데이터를 
    1. 보낸다. 어디로
    2. 보낸다. 어떻게
  -->
  <form action="{% url "articles:create" %}" method="POST">
    {% csrf_token %}
    <label for="title">title</label>
    <input type="text" id="title" name="title">
    <label for="content">content</label>
    <input type="text" id="content" name="content">

    <input type="submit" value="CREATE">
  </form>
</body>
</html>