<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>보내는 곳</h1>
  <!-- 어디로? 요청을? 보내지? action -->
  {% comment %} <form action="http://127.0.0.1:8000/articles/receive/"> {% endcomment %}
  <!-- 
    Django Template Language 
    종류는 2개 밖에 없다
    1. 어떠한 기능 
    2. 변수에 담긴 값 불러오기 

    url에 대한 어떤 정보를 불러올 수 있도록 하는 기능!
    어떤 앱이 가진, 어떤 경로로 요청을 보낼 수 있어야 함.
    articles:receive
  -->
  <form action="{% url "articles:receive" %}">
    <!-- 사용자가 입력한 값을 `어딘가에` 담아서 보내야 한다. -->
    <input type="text" name="message">
    <input type="submit" value="전송">
  </form>
</body>
</html>