<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
  <h2>{{ article.pk }}번째 글</h2>
  <hr>
  <p>제목: {{ article.title }}</p>
  <p>내용:{{ article.content }}</p>
  <p>작성 시간:{{ article.created_at }}</p>
  <p>수정 시간:{{ article.updated_at }}</p>
  <hr>
  <a href="{% url "articles:index" %}">[메인 페이지로]</a>
  {% comment %} #우리는 이제 주소를 외우지 않기로 했다. url을 눌러서 불러오고 앱이름,url이름을 index로 지어둠 {% endcomment %}
</body>
</html>
